/* ----------------- Custom Styles ----------------- */
/* ----------------- David Bailey ----------------- */

.icons{
  left: 0;
  right:auto;

}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
  bottom: 5px;
}

div.leaflet-popup.leaflet-zoom-animated{
  width: 250px;

}

div..col-xs-11{
  width: 65%;
}

button#submit.btn.btn-primary.trigger-submit{
  padding: 5px 10px;
  font-size: 12px;
}

.leaflet-popup-content-wrapper{
  padding: 4px;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    right: 5px;
}

input.form-control{
	height: 25px;
	width: 200px;
}

select.form-control{
	height:  32px;
	width: 280px;
}
/*
div.leaflet-popup-content-wrapper{
  height: 420px;
}
*/
.control-label strong {

	font-family: 'Ubuntu', sans-serif;
	color: 	#000000;

}

.navbar-default {
    background-color: #458131;
}

a strong{
  color: #ffffff;
}

.leaflet-draw-draw-marker{
  background-position: -115px 3px;
  height: 35px;
  width: 35px;
}

div.leaflet-control-zoom leaflet-bar leaflet-control{
  height: 25px;
  width: 60px;

}
/*
a.leaflet-control-zoom-in{
  height: 26px;
  width: 26px;

}

.leaflet-draw-toolbar a {
    background-image: url(icons/danger_reptile_marker.png);
    background-repeat: no-repeat;
    background-size: 3200px 60px;
    height: 40px;
    width: 40px;
}
*/

div.leaflet-draw leaflet-control{
  height: 35px;
  width: 35px;
}

.leaflet-draw a{
  height: 35px;

}

a.leaflet-draw-draw-marker{

  height: 35px;
  width: 35px;
}

.leaflet-draw-toolbar{
  height: 35px;
  width: 35px;
}

/*
.leaflet-draw-toolbar a{
  position: relative;
  top:70px;
}

leaflet-draw-toolbar leaflet-bar{
  position: relative;
  top:70px;

}

.leaflet-draw-toolbar {
    margin-top: 12px;
    position: relative;
    top: 70px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.leaflet-bar {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    position: relative;
    top: 70px;
}
*/
